florida_april_2015.csv
Anopheles_data_test1.csv
FL_te
FL_Temp_2015-04-01_to_2015-05-01_5000m.tif
mosquito_alert_data/MosquitoAlert-Data-3e4c88a/all_reports.zip
mosquito_alert_data/MosquitoAlert-Data-3e4c88a/LICENSE.md
mosquito_alert_data/MosquitoAlert-Data-3e4c88a/README.md
mosquito_alert_data/MosquitoAlert-Data-3e4c88a/translation_dict.json
mosquito_alert_data/MosquitoAlert-Data-3e4c88a/home/webuser/webapps/tigaserver/static/all_reports2014.json
mosquito_alert_data/MosquitoAlert-Data-3e4c88a/home/webuser/webapps/tigaserver/static/all_reports2015.json
mosquito_alert_data/MosquitoAlert-Data-3e4c88a/home/webuser/webapps/tigaserver/static/all_reports2016.json
mosquito_alert_data/MosquitoAlert-Data-3e4c88a/home/webuser/webapps/tigaserver/static/all_reports2017.json
mosquito_alert_data/MosquitoAlert-Data-3e4c88a/home/webuser/webapps/tigaserver/static/all_reports2018.json
mosquito_alert_data/MosquitoAlert-Data-3e4c88a/home/webuser/webapps/tigaserver/static/all_reports2019.json
mosquito_alert_data/MosquitoAlert-Data-3e4c88a/home/webuser/webapps/tigaserver/static/all_reports2020.json
mosquito_alert_data/MosquitoAlert-Data-3e4c88a/home/webuser/webapps/tigaserver/static/all_reports2021.json
mosquito_alert_data/MosquitoAlert-Data-3e4c88a/home/webuser/webapps/tigaserver/static/all_reports2022.json
mosquito_alert_data/MosquitoAlert-Data-3e4c88a/home/webuser/webapps/tigaserver/static/all_reports2023.json
mosquito_alert_data/MosquitoAlert-Data-3e4c88a/home/webuser/webapps/tigaserver/static/all_reports2024.json
mosquito_alert_data/MosquitoAlert-Data-3e4c88a/home/webuser/webapps/tigaserver/static/all_reports2025.json
mosquito_alert_data/MosquitoAlert-Data-3e4c88a/home/webuser/webapps/tigaserver/static/all_reports2026.json
